body{

font-size: 20px;

font-family: 'Times New Roman', Times, serif;

}

header{

background-color: lightblue;

text-align: center;

margin-top:-20px;

height: 30%;

color: green;

margin-bottom: 20px;

}

li{

padding: 20px;

}

table{

float: left;

width: 50%;

}

table,th,tr,td{

border: 2px double blue;

border-collapse: collapse;

padding: 10px;

}

tr:nth-child(odd){

background-color: aqua;

}

tr:nth-child(even){

background-color: orange;

}

tr:hover{

background-color: blue;

color: white;

font-size: 24px;

}

img{

height: 400px;

width:500px;

border: 3px dashed red;

padding: 5px;

border-radius: 5px;

float: right;

}

footer{

background-color: lightblue;

text-align: center;

position:fixed;

bottom: 0;

width: 100%;

color: green;

}

nav li{

display: inline;

background-color: maroon;

padding: 10px;

margin: 5px;

font-size: 20px;

font-family: Verdana, Geneva, Tahoma, sans-serif;

}

a{

text-decoration: none;

color: White;

}

.container{
  max-width: 1200px;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
}

.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 390px;
}

.gallery img{
  width: 100%;
  height: auto;
}

.desc{
  padding: 15px;
  text-align: center;
}

.contactgallery{
  margin: 20px;
  border: 1px solid #ccc;
  float: center;
  width: 390px;
}

.contactgallery img{
  width: 100%;
  height: auto;
}

.contactdesc{
  padding: 15px;
  text-align: center;
}

.contactcontainer{
  width: 800px;
  height: 400px;
  background: white;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
